{{#if employee.linkedInProfile}}
    <a target="_blank" href="{{employee.linkedInProfile}}">{{fa-icon "linkedin"}}</a>
{{/if}}
{{#if employee.twitterProfile}}
    <a target="_blank" href="{{employee.twitterProfile}}">{{fa-icon "twitter"}}</a>
{{/if}}
{{#if employee.facebookProfile}}
    <a target="_blank" href="{{employee.facebookProfile}}">{{fa-icon "facebook"}}</a>
{{/if}}
