<div class="container">
    <div class="row">
        <div class="col introduction">
            <div class="z-in">
                {{type-writer titles=model.content.introTitles}}
                <h2 class="sub-type-area">{{model.content.subtitle}}</h2>
                {{show-reel}}
            </div>
            <img style="max-width: 70%; width: 100%; position: absolute; bottom: -20%; right: -100px;" class="img-responsive logo-anim" src="/assets/IYB-Crop.gif" alt="">
            {{scroll-icon class="text-center"}}

        </div>
    </div>
    {{!-- <div style="margin-top: 5rem;">
        {{#testimonial-slider sliderImages = model.testimonials}}{{/testimonial-slider}}
    </div> --}}
    <div class="row mt-4 justify-content-center">
        <div class="col col-sm-10 col-md-8 col-lg-6 testimonial text-center">
            {{markdown-to-html model.content.testimonial}}
            <hr class="hr-blue">
        </div>
    </div>
    <div class="row mt-10 hiddenxs-down align-items-center clients">
        <div class="col-4 client-introduction">
            {{markdown-to-html model.content.introduction}}
        </div>
        <div class="col-8 client-logos">
            {{#each model.content.firstFourLogos as |logo|}}
                <img src="{{logo.file.url}}" alt="{{logo.file.title}}">
            {{/each}}
        </div>
    </div>
    <div class="row hidden-xs-down justify-content-end">
        <div class="col-8 client-logos">
            {{#each model.content.lastThreeLogos as |logo|}}
                <img src="{{logo.file.url}}" alt="{{logo.file.title}}">
            {{/each}}
        </div>
    </div>

</div>
{{#each model.caseStudies as | caseStudy index|}}
<div class="case-study {{caseStudy.highlightColour}} mt-sm-6 py-md-5">
    {{#if (is-even index)}}
        {{#slide-in-wrapper }}
        <div class="container-fluid featured-image right align-items-center nudge-left" style={{ background-image caseStudy.featuredImage.file.url }}>
            <div class="container">
                <div class="row mt-5 align-items-center">
                    <div class="col-12 col-sm-3">
                        <h3 class="align-middle">{{caseStudy.name}}</h3>
                        <hr>
                        {{markdown-to-html caseStudy.featuredAction}}
                        {{#link-to 'project' caseStudy.slug }}
                            <button class="btn btn-outline-primary">learn more</button>
                        {{/link-to }}
                    </div>
                    <div class="col-12 col-sm-3 result">
                        {{markdown-to-html caseStudy.featuredResult}}
                        <p><span class="callout">{{#if caseStudy.callout}}{{caseStudy.callout}}{{/if}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        {{/slide-in-wrapper }}
    {{else}}
        {{#slide-in-wrapper }}
            <div class="container-fluid featured-image left align-items-center nudge-right" style={{ background-image caseStudy.featuredImage.file.url }}>
                <div class="container">
                    <div class="row mt-5 align-items-center">
                        <div class="col-12 col-sm-6"></div>
                        <div class="col-12 col-sm-3">
                            <h3 class="align-middle">{{caseStudy.name}}</h3>
                            <hr>
                            {{markdown-to-html caseStudy.featuredAction}}

                            {{#link-to 'project' caseStudy.slug }}
                                <button class="btn btn-outline-primary">learn more</button>
                            {{/link-to }}
                        </div>
                        <div class="col-12 col-sm-3 result">
                            {{markdown-to-html caseStudy.featuredResult}}
                            <p><span class="callout">{{#if caseStudy.callout}}{{caseStudy.callout}}{{/if}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        {{/slide-in-wrapper }}
    {{/if}}
</div>
{{/each}}

<div class="team blue mt-6">
    <div class="container-fluid">
        <div class="container">
            <div class="row mt-6">
                <div class="col col-lg-8">
                    <h3>{{model.content.teamTitle}}</h3>
                    <hr class="hr-blue">
                    {{markdown-to-html model.content.teamIntroduction}}
                </div>
            </div>
        </div>
        <div class="row mt-10">
            {{#each model.team as |employee|}}
            <div class="col-12 col-sm-6 col-lg-3 team-image-wrap">
                {{#flipper/card-wrapper}}
                    {{#flipper/card-front}}
                        <img class="img-fluid" src="{{employee.photo.file.url}}" alt="{{employee.photo.file.title}}">
                    {{/flipper/card-front}}
                    {{#flipper/card-back}}
                        <div class="employee-details">
                            <h4>{{employee.name}}</h4>
                            <p>{{employee.title}}</p>
                            <p><a href="mailto:{{employee.email}}">{{employee.email}}</a></p>
                            <hr class="hr-{{employee.highlightColour}}">
                            {{employee-social-profiles employee=employee}}
                        </div>
                    {{/flipper/card-back}}
                {{/flipper/card-wrapper}}
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{ scribble-footer }}
