<div class="container">
    <div class="row">
        <div class="col introduction">
            <div class="z-in">
                {{type-writer titles=model.content.introTitles}}
                <h2 class="sub-type-area">{{model.content.subtitle}}</h2>
                {{show-reel}}
            </div>
            <img style="max-width: 70%; width: 100%; position: absolute; bottom: -20%; right: -100px;" class="img-responsive logo-anim" src="/assets/IYB-Crop.gif" alt="">
            {{scroll-icon class="text-center"}}

        </div>
    </div>
    <div style="margin-top: 5rem;">
        {{#testimonial-slider sliderImages = model.testimonials}}{{/testimonial-slider}}
    </div>
    <div class="row mt-10 hiddenxs-down align-items-center clients">
        <div class="col-4 client-introduction">
            {{markdown-to-html model.content.introduction}}
        </div>
        <div class="col-8 client-logos">
            {{#each model.content.firstFourLogos as |logo|}}
                <img src="{{logo.file.url}}" alt="{{logo.file.title}}">
            {{/each}}
        </div>
    </div>
    <div class="row hidden-xs-down justify-content-end">
        <div class="col-8 client-logos">
            {{#each model.content.lastThreeLogos as |logo|}}
                <img src="{{logo.file.url}}" alt="{{logo.file.title}}">
            {{/each}}
        </div>
    </div>

</div>
{{#each model.caseStudies as | caseStudy index|}}
<div class="case-study {{caseStudy.highlightColour}} mt-sm-6 py-md-5">
    {{#if (is-even index)}}
    <div class="nudge-left">
        {{#slide-in-wrapper }}
        <div class="container featured-image left align-items-center" data-aos="fade-right">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex align-items-center project-info">
                            <div>
                                <h3 class="align-middle">{{caseStudy.name}}</h3>
                                <hr>
                                {{markdown-to-html caseStudy.featuredAction}}

                                {{#link-to 'project' caseStudy.slug }}
                                    <button class="btn btn-outline-primary">learn more</button>
                                {{/link-to }}
                            </div>

                            <div>
                                    <div class="col-12 result">
                                    {{markdown-to-html caseStudy.featuredResult}}
                                    <p><span class="callout">{{#if caseStudy.callout}}{{caseStudy.callout}}{{/if}}</span></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="photo" data-aos="fade-left">
                    <img class="featured-image img-responsive" src="{{caseStudy.featuredImage.file.url}}">
                </div>
            {{/slide-in-wrapper }}
            </div>
    {{else}}
        <div class="nudge-right">
        {{#slide-in-wrapper }}
            <div class="container featured-image left align-items-center"  data-aos="fade-left">
                <div class="row">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4 align-items-center d-flex align-items-center project-info">
                        <div>
                            <h3 class="align-middle">{{caseStudy.name}}</h3>
                            <hr>
                            {{markdown-to-html caseStudy.featuredAction}}

                            {{#link-to 'project' caseStudy.slug }}
                                <button class="btn btn-outline-primary">learn more</button>
                            {{/link-to }}
                        </div>

                        <div>
                                <div class="col-12 result">
                                {{markdown-to-html caseStudy.featuredResult}}
                                <p><span class="callout">{{#if caseStudy.callout}}{{caseStudy.callout}}{{/if}}</span></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="photo"  data-aos="fade-right">
                <img class="featured-image img-responsive"src="{{caseStudy.featuredImage.file.url}}">
            </div>
        {{/slide-in-wrapper }}
        </div>
    {{/if}}
</div>
{{/each}}

<div class="team blue mt-6">
    <div class="container-fluid">
        <div class="container">
            <div class="row mt-6">
                <div class="col col-lg-8">
                    <h3>{{model.content.teamTitle}}</h3>
                    <hr class="hr-blue">
                    {{markdown-to-html model.content.teamIntroduction}}
                </div>
            </div>
        </div>
        <div class="row mt-10">
            {{#each model.team as |employee|}}
            <div class="col-12 col-sm-6 col-lg-3 team-image-wrap">
                {{#flipper/card-wrapper}}
                    {{#flipper/card-front}}
                        <img class="img-fluid" src="{{employee.photo.file.url}}" alt="{{employee.photo.file.title}}">
                    {{/flipper/card-front}}
                    {{#flipper/card-back}}
                        <div class="employee-details">
                            <h4>{{employee.name}}</h4>
                            <p>{{employee.title}}</p>
                            <p><a href="mailto:{{employee.email}}">{{employee.email}}</a></p>
                            <hr class="hr-{{employee.highlightColour}}">
                            {{employee-social-profiles employee=employee}}
                        </div>
                    {{/flipper/card-back}}
                {{/flipper/card-wrapper}}
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{ scribble-footer }}
