<div class="container">
    <div class="row mt-10 justify-content-center">
        <div class="col col-lg-8 text-center">
            <h3>{{model.content.title}}</h3>
            <hr class="hr-orange center">
            {{markdown-to-html model.content.introductionText}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5 align-items-center">
        {{#each model.projects as |project|}}
            <div class="col-12 col-sm-6 col-lg-4 mb-4 text-center project-image">
                {{#link-to 'project' project.slug }}
                    {{# if project.portfolioImage }}
                        <img class="img-fluid" src="{{ project.portfolioImage.file.url }}" alt="{{ project.name }}">
                    {{ else }}
                        <img class="img-fluid" src="{{ project.featuredImage.file.url }}" alt="{{ project.name }}">
                    {{/if}}
                {{/link-to}}
            </div>
        {{/each}}
    </div>
</div>

{{ scribble-footer }}