<!-- <div class="header-image" style={{ background-image model.headerImage.file.url }}></div> -->
<div class="container-fluid header-image">
    <div>
        <img class="project-image" src="{{model.headerImage.file.url}}" alt="">
    </div>
    <div class="absolute-holder">
        <div class="container">
            <div class="col col-lg-8 text-left intro-text">
                <h3>{{model.name}}</h3>
                <hr class="hr-{{model.highlightColour}} center">
                <div class="col-12">
                    {{ markdown-to-html model.shortDescription }}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="categories {{model.highlightColour}}">
    {{ plusify model.category }}
</div>


<!-- WEB TRAFFIC -->
<div class="container">
    <div class="row my-5 my-md-10">
        <div class="col-12 col-lg-6 text-left py-10">
            <div class="col-md-6" data-aos="fade-right">
                <h3>{{ model.featuredResult }}</h3>
                <span class="callout {{model.highlightColour}}">{{ model.callout }}</span>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="col-12 mt-4 mt-lg-0" data-aos="fade-left">
                {{ markdown-to-html model.action }}
            </div>

        </div>
    </div>
</div>

{{#if model.logoImage}}
    <div class="container-fluid logo-image-wrapper">
        <div class="row">
            <img src="{{ model.logoImage.file.url }}" alt="Logo Image">
        </div>
    </div>
{{/if}}

<!-- CHALENGE -->
<div class="container mb-5 mb-md-0">
    <div class="row align-items-center chalenge">
        <div class="col-12 col-md-6 text-left my-5 my-md-10 pr-5" data-aos="fade-right">
            <h3 class="mb-5 col-12 section-title {{model.highlightColour}}">The Challenge</h3>
            <div class="col-12">
                {{ markdown-to-html model.chalengeText }}
            </div>
        </div>
        <div class="col-12 col-md-6 text-center my-md-10" data-aos="fade-left">
            <img src="{{ model.chalengeImage.file.url }}" alt="Chalenge Image">
        </div>
    </div>
</div>

<!-- TWO COLUMN IMAGES -->
<div class="container-fluid">
    <div class="row two-col-images">
        <div class="col-12 col-md-6 nopadding" data-aos="fade-right">
            {{#slide-in-wrapper}}
            <img class="img-fluid" src="{{ model.twoColumnImageLeft.file.url }}" alt="Left Image">
            {{/slide-in-wrapper}}
        </div>
        <div class="col-12 col-md-6 nopadding" data-aos="fade-left">
            {{#slide-in-wrapper}}
            <img class="img-fluid" src="{{ model.twoColumnImageRight.file.url }}" alt="Right Image">
            {{/slide-in-wrapper}}
        </div>
    </div>
</div>
<!-- SOLUTION -->
<div class="container solution">
    <div class="row mt-5 solution mt-md-10">
        <div class="col-12 col-md-6" data-aos="fade-right">
            <img src="{{ model.solutionImage.file.url }}" alt="Chalenge Image">
        </div>
        <div class="col-12 col-md-6 py-10 pt-5 pt-md-0" data-aos="fade-left">
            <h3 class="mb-5 col-12 section-title {{model.highlightColour}}">Solution</h3>
            <div class="col-12">
                {{ markdown-to-html model.solutionText }}
            </div>
        </div>
    </div>
</div>

<!-- DEVICES -->
{{#if model.responsiveDevicesImage }}
<div class="container mt-5 mt-md-10">
    <div class="row devices">
        <div class="col-12 col-md-12" data-aos="fade-up">
            {{#slide-in-wrapper}}
            <img class="img-fluid nudge-up" src="{{ model.responsiveDevicesImage.file.url }}" alt="Chalenge Image">
            {{/slide-in-wrapper}}
        </div>
    </div>
</div>
{{/if}}

<!-- RESULT -->
{{#if model.resultText}}
<div class="container">
    <div class="row mt-5 mt-md-10 result" data-aos="fade-up">
        <div class="col-12 col-md-8 mx-md-auto text-center" data-aos="fade-up">
            <h3 class="mb-5 col-12 section-title {{model.highlightColour}}">Result</h3>
            <div class="col-12">
                {{ markdown-to-html model.resultText }}
            </div>
        </div>
    </div>
</div>
{{/if}}

{{!-- SLIDER --}}
<div class='project-slider' data-aos="fade-up">
    {{#if model.sliderImages.length }}
        {{#slick-slider sliderImages = model.sliderImages}}{{/slick-slider}}
    {{/if}}
</div>
<div data-aos="fade-up">
    <!-- TESTIMONIAL -->
    {{#if model.testimonial}}
    <div class="container">
        <div class="row mb-5 mb-md-10 result">
            <div class="col-12 col-md-8 mx-md-auto text-center">
                {{ markdown-to-html model.testimonial }}
                <hr class="hr-{{model.highlightColour}} center">
            </div>
        </div>
    </div>
    {{/if}}
</div>
<div data-aos="fade-up">
{{#if model.related}}
 <div class="related-title">
                <h3>Related projects</h3>
                <hr class="hr-{{model.highlightColour}} center">
            </div>
<div class="container portfolio-holder" id="portfolio-holder">
    <div class="row mt-5 mb-5 mb-md-10 align-items-center">

{{#each model.related as |project|}}
{{#each project as |inside|}}
    <div class="col-12 col-sm-6 col-lg-4 text-center project-image">
            <a {{action "selectProject" inside.slug}}>
                <div class="square">

                    <div class="image">

                        {{# if inside.logoImage }}
                            <img class="img-fluid" src="{{inside.squareImage.file.url}}"  alt="{{ inside.name }}">
                        {{ else }}
                            <img class="img-fluid" src="{{inside.squareImage.file.url}}" alt="{{ inside.name }}">
                        {{/if}}

                    </div>

                    <div class="cover">
                        <h3 class="title">{{inside.name}}</h3>
                        <hr class="hr-{{inside.highlightColour}} center">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="dropdown">
                                <span>{{fa-icon "share-alt"}}</span>
                                <ul class="share">
                                    <li>
                                        <a target="_blank" href="{{share-url inside.slug inside.name 'linkedin'}}">{{fa-icon "linkedin"}}</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="{{share-url inside.slug inside.name 'twitter'}}">{{fa-icon "twitter"}}</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="{{share-url inside.slug inside.name 'facebook'}}">{{fa-icon "facebook-f"}}</a>
                                    </li>
                                </ul>
                            </div>
                            <p class="description">{{inside.shortDescription}}</p>
                        </div>

                    </div>
                </div>
                 </a>
            </div>
{{/each}}

{{/each}}
</div>
</div>
{{/if}}
</div>
{{ scribble-footer }}
