<!-- <div class="header-image" style={{ background-image model.headerImage.file.url }}></div> -->
<div class="container-fluid header-image">
    <div>
        <img class="project-image" src="{{model.headerImage.file.url}}" alt="">
    </div>
    <div class="absolute-holder">
        <div class="container">
            <div class="col col-lg-8 text-left intro-text">
                <h3>{{model.name}}</h3>
                <hr class="hr-{{model.highlightColour}} center">
                <div class="col-12">
                    {{ markdown-to-html model.shortDescription }}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="categories {{model.highlightColour}}">
    {{ plusify model.category }}
</div>


<!-- WEB TRAFFIC -->
<div class="container">
    <div class="row my-5">
        <div class="col-12 col-lg-6 text-left py-10">
            <div class="col-6">
                <h3>{{ model.featuredResult }}</h3>
                <span class="callout {{model.highlightColour}}">{{ model.callout }}</span>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="col-12">
   {{ markdown-to-html model.action }}
            </div>

        </div>
    </div>
</div>

{{#if model.logoImage}}
    <div class="container-fluid logo-image-wrapper">
        <div class="row">
            <img src="{{ model.logoImage.file.url }}" alt="Logo Image">
        </div>
    </div>
{{/if}}
<!-- CHALENGE -->
<div class="container">
    <div class="row my-5 align-items-center chalenge">
        <div class="col-12 col-md-6 text-left py-5 pr-5">
            <h3 class="mb-5 col-12 section-title {{model.highlightColour}}">The Challenge</h3>
            <div class="col-12">
                {{ markdown-to-html model.chalengeText }}
            </div>
        </div>
        <div class="col-12 col-md-6 text-center py-5">
            <img src="{{ model.chalengeImage.file.url }}" alt="Chalenge Image">
        </div>
    </div>
</div>
<!-- TWO COLUMN IMAGES -->
<div class="container-fluid">
    <div class="row two-col-images">
        <div class="col-12 col-md-6 nopadding">
            {{#slide-in-wrapper}}
            <img class="img-fluid nudge-up" src="{{ model.twoColumnImageLeft.file.url }}" alt="Left Image">
            {{/slide-in-wrapper}}
        </div>
        <div class="col-12 col-md-6 nopadding">
            {{#slide-in-wrapper}}
            <img class="img-fluid nudge-up nudge-up-slow" src="{{ model.twoColumnImageRight.file.url }}" alt="Right Image">
            {{/slide-in-wrapper}}
        </div>
    </div>
</div>
<!-- SOLUTION -->
<div class="container mt-10">
    <div class="row my-5 solution">
        <div class="col-12 col-md-6">
            <img src="{{ model.solutionImage.file.url }}" alt="Chalenge Image">
        </div>
        <div class="col-12 col-md-6 py-10 pt-4">
            <h3 class="mb-5 col-12 section-title {{model.highlightColour}}">Solution</h3>
            <div class="col-12">
                {{ markdown-to-html model.solutionText }}
            </div>
        </div>
    </div>
</div>

<!-- DEVICES -->
{{#if model.responsiveDevicesImage }}
<div class="container mt-10">
    <div class="row my-5 devices">
        <div class="col-12 col-md-12">
            {{#slide-in-wrapper}}
            <img class="img-fluid nudge-up" src="{{ model.responsiveDevicesImage.file.url }}" alt="Chalenge Image">
            {{/slide-in-wrapper}}
        </div>
    </div>
</div>
{{/if}}

<!-- RESULT -->
{{#if model.resultText}}
<div class="container mt-10">
    <div class="row my-5 result">
        <div class="col-12 col-md-8 mx-md-auto text-center">
            <h3 class="mb-5 col-12 section-title {{model.highlightColour}}">Result</h3>
            <div class="col-12">
                {{ markdown-to-html model.resultText }}
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if model.sliderImages.length }}
    {{#slick-slider sliderImages = model.sliderImages}}{{/slick-slider}}
{{/if}}
<!-- TESTIMONIAL -->
{{#if model.testimonial}}
<div class="container mt-10">
    <div class="row my-5 result">
        <div class="col-12 col-md-8 mx-md-auto text-center">
            {{ markdown-to-html model.testimonial }}
            <hr class="hr-{{model.highlightColour}} center">
        </div>
    </div>
</div>
{{/if}}

{{ scribble-footer }}
